@import '../../Theme.scss';

.inputWrapper{
    width:100%;
    position: relative;

    input{
        font-family: inherit;
        width: calc(100% - 2em);
        display:block;
        color: $primary-text;
        padding: 1.6em 1em .5em;
        display: block;
        font-size: 1em;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        border: none;
        border-bottom: 2px solid $neutral;
        background-color: $widget-bg;
        outline: none;
        
        &::placeholder{
            color: #0000;
        }

        &:focus::placeholder{
            color: #777;
        }

       
    }

    &::before{
        position: absolute;
        height:2px;width: 100%;
        bottom:0; left:0;
        content: "";
        background-color: $accent;
        max-width: 0px;
        transition: .2s ease all;
    }

    &.invalid::before{
        background-color:$error;
        max-width: 100%;
    }

    &:focus-within::before{
        max-width: 100%;
    }

    .label{
        position: absolute;
        top: 1.1em;
        left: 1em;
        pointer-events: none;
        transition: .2s ease all;
    }

    input:required ~ .label::after{
        content:" *";
        font-size: smaller;
    }

    input:not(:placeholder-shown) ~ .label, input:focus ~ .label{
        top: .6em; left: 1.42em;
        font-size: .7em;
        font-weight: 600;
    }

   
}  

.validate{
    .inputWrapper{
        input:invalid{
            border-color: $error;
        }
    }
}