@import '../../Theme.scss';

.tabBarTop{
    background-color: $widget-bg;
    position:sticky;
    top: 0em;
    &.down{top:4em}
    @media(max-width:600px){
        display:none;
    }
    transition: .5s;

    .content{
        max-width: 1200px;
        margin: auto;
        display: flex;  
        align-items: center;
        padding: 0em 2em;

        .title{
            font-size: 1.2em;
            margin-right: 1em;
            max-width: 10em;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }

        .tab{
            padding: .7em 1.5em;
            display: inline-flex;
            align-items: center;
            svg{margin-right: .7em;}

            &.active{
                color: $accent;
                border-bottom: 2px solid $accent;
            }
        }
    }

}


