@import '../../Theme.scss';

#toolbar{
    color: $primary-text;
    background-color: $header-footer-bg;
    position: fixed;
    top:0;
    z-index: 200;
    width:100%;
    transition: .5s;
    height: 4em;
    
    #content{
        max-width: 1200px;
        margin:auto;
        padding:0em 2em;
        display: flex;
        align-items: center;
        font-size: 16px;
        height: 100%;

        .RNOClogo{
            font-size: 48px;
        }

        .link{
            padding:0em 1em;
            cursor:pointer;
        }

        .buttons, .sites{
            display:flex;
        }

        #register{
            padding-left: 0em;
        }

        .buttons{
            @media (max-width: 600px){
                display:none;
            }

            a{
                margin-left: 1em;
                display: flex;
            }
        }

        .sites{
            @media(max-width: 1000px){
                display:none;
            }
        }

        .userButton{
            width: 2.8em;
            border-radius: 50%;
            overflow: hidden;
            margin-left: 1em;
            cursor: pointer;
        }

        .logoutButton{
            display: flex;
            align-self: center;
            font-size: 1.5em;
            padding: 0em .5em 0em 1em;
            cursor: pointer;
        }

        #menuButton{
            display: flex;
            align-self: center;
            font-size: 1.5em;
            padding: 0em .5em 0em 1em;
            cursor: pointer;

            @media(min-width:1000px){display:none;}
        }


    }

    #dropDown{
        background-color: $header-footer-bg;

        .item{
            padding: 1em 1.5em;

            &:hover{
                background-color: #FFF1;
            }
        }

        .sites{
            @media(min-width: 1000px){
                display:none;
            }
        }

        .buttons{
            @media(min-width: 600px){
                display:none;
            }

            margin-top: 1em
        }

        max-height: 0px;
        overflow: hidden;
        transition: .5s;
        &.open{
            max-height: 23em;
        }
    }
    
    #logo{
        font-size: 3em;
        transition: .5s;
    }

    &.hidden{
        top: -80px;
    }
}