@import '../../Theme.scss';

.teamCard{
    background-color: $widget-bg;
    position: relative;
    border-radius: 6px;
    margin-top: 1em;
    padding: 0em 1em 1em;

    .profilePictureWrapper{
        width: 50%;
        padding: 0% 25%;
        margin-bottom: .5em;

        .profilePicture{
            width:100%;
            padding-top:100%;
            position: relative;
            background-size:cover;
            background-position: center;
            transform: translateY(-1em);
            border-radius: 6px;
        }
    }

    .name{
        text-align: center;
        font-weight: 600;
    }

    li{
        margin-top:.3em
    }

    .socials{
        display: flex;
        margin: auto;
        justify-content: center;
        padding: 1em;

        .site{
            margin: 0em .5em;
            width:2em;
            height:2em;
            background-color: $widget-light;
            border-radius: 6px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            &:hover{
                color: $accent;
            }
        }
    }
}