@import '../Theme.scss';

#aboutPage{
    .description{
        //max-width: 600px;
        text-align: justify;
    }

    #contactSection{
        padding-bottom: 3em;
    }

    #team{
        padding-top:3em;
        display:grid;
        grid-template-columns: 1fr 1fr;
        @media(max-width:600px){grid-template-columns:1fr;}
        grid-gap: 3em;
        max-width: 800px;
        margin:auto;
    }

    #contactSection{
        .grid{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            grid-gap: 1.5em;
            margin-top: 1.5em;

        }
        
        textarea{
            margin-top: 1.5em
        }

        .button{
            text-align: right;
            margin-top: 1.5em;
        }
    }
}

@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
  }
  
  @keyframes spin {
    from { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
  }