@import '../../Theme.scss';

#footer{
    background-color: $header-footer-bg;
    color: $secondary-text;
    font-size: 16px;

    main{

        .grid{
            display:grid;
            grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
            grid-gap: 1.5em;

            .copyright{    
                padding-top: .5em;
                color: #AAA;
                margin-top: .5em;
            }

            .title{
                font-weight: bold;
                font-size: 1.1em;
                margin-bottom: .5em;
            }

            .link{
                margin-bottom: .3em;
            }

            .emailLabel{
                text-transform: uppercase;
                font-weight: bold;
                font-size: .75em;
            }
        }
    }
}