@import '../../Theme.scss';

#headerSection{
    min-height: calc(100vh - 10em - 70px);
    padding-bottom: 10em;
    position: relative;

    main{
        h1{
            font-size: 2.2em;
        }
    }

    #scrollDown{
        position: absolute;
        bottom:0;
        width:100%;
        font-size: 4em;
        height: 2.5em;
        text-align: center;
        cursor:pointer;
        color: $accent;

        svg{
            margin-top: .5em;
        }
    }
}