@import '../../Theme.scss';

.tabBarBottom{
    background-color: $widget-bg;
    position:fixed;
    width:100%;
    bottom: 0em;
    box-shadow: 0px -4px 4px 0px #0000003F;

    @media(min-width:601px){
        display:none;
    }

    &.down{
        .title{
            max-height: 0em;
            overflow: hidden;
            
        }
    }

    .title{
        text-align: center;
        font-size: 1.2em;
        max-height: 2em;
        transition: .5s;
        div{
            margin: .5em 0em .15em;
        }
    }

    .content{
        margin: auto;
        display: flex;  
        align-items: center;



        a{flex-grow: 1; width:100%}

        .tab{
            padding: .9em 1.5em .7em;
            flex-direction: column;
            text-align: center;

            svg{
                font-size: 1.2em;
            }
            
            div{
                font-size: .75em;
                font-weight: 600;
                margin-top: .25em;
            }

            &.active{
                color: $accent;
            }
        }
    }

}


