@import './Theme.scss';
@import './Strap.scss';
@import url('https://fonts.googleapis.com/css?family=Nunito:400,400i,600,700,700i,800,900&display=swap');

*{
    scroll-behavior: smooth;
}

html{
    background-color: $header-footer-bg;
}

html, body, #root, #app{
    position: relative;
    padding: 0px; margin:0px;
    font-family: Nunito, sans-serif;
    min-height: 100vh;
    font-size: 20px;
    @media(max-width:1200px){font-size: 18px;}
    @media(max-width:600px){font-size: 16px;}
}

#app{
    display: flex;
    flex-direction: column;
}

.page{
    flex-grow: 1;
    padding-top: 4em;
    color: $primary-text;
    background-color: $primary-bg;
    &.withBottomBar ~ #footer{@media(max-width: 600px){padding-bottom: 95px}}
}

section{
    padding-bottom: 2em;
}

main{
    padding: 2em;
    max-width: 1200px;
    margin: auto;
    h1:first-child{margin-top: 0em;}
}

h1{ font-size: 2em}
h2{ font-size: 1.5em}
h3{ font-size: 1.3em}

a{
    color:inherit;
    text-decoration: inherit;
}