@import './Theme.scss';
.accent, accent{
    color:$accent;
}

.center{
    text-align: center;

    &::before{
        text-align: center;
    }   
}

.filler{
    flex-grow: 1;
}

.card{
    background-color: $widget-bg;
    box-shadow: 0px 0px 8px 4px #00000029;
    border-radius: .5em;
}