/** 
* Color reference file 
*/
$primary-bg: #FFF;
$primary-text: #000;
$secondary-bg: rgb(235, 203, 190);
$secondary-text: #000;
$tertiary-bg: rgb(179, 179, 216);
$widget-bg: rgb(255, 230, 220);
$widget-light: #ffffff6c;
$header-footer-bg: #f1f1f1;
$accent: rgb(189, 62, 12);
$accent-text: #FFF;
$success: #47682C;
$error: #6D0010;
$neutral: #333333;