#cookieConsent{
    position: fixed;
    bottom: 0; left: 0; right:0;
    background-color: #000; color: white;
    padding: 1.5em 2em;
    display: flex;
    align-items: center;
    overflow: hidden;
    transition: .7s;
    .btn{
        margin: 0em 0em 0em 2em;
    }
    &.closed{
        bottom: -10em;   
    }
}