@import '../../Theme.scss';

.banner{
    padding: 1em;
    margin-top:1em;
    background-color: $widget-bg;
    border-radius: 6px;

    &::before{
        content: "i ";
        font-weight: 900;
        background-color: $neutral;
        border-radius: 50%;
        width:1.5em;
        text-align: center;
        display: inline-flex;
        height: 1.5em;
        align-items: center;
        justify-content: center;
        margin-right: 1em;
    }

    &.success::before{content: "✓"; background-color: $success;}
    &.error::before{content: "!"; background-color: $error;}
    &.loading::before{content: "\231B"; background-color: $neutral; animation: spin infinite linear 2s; font-size: 0.8em; padding:0.2em; }
}
